.tabs {
  &-bar {
    background-color: var(--ion-color-primary);

    &__button {
      background-color: transparent;

      &.tab-selected {
        .tabs-bar__icon {
          color: var(--ion-color-light);
          transform: scale(1.1);
        }
      }
    }

    &__icon {
      font-size: 35px;
      color: var(--ion-color-quinary);

      &::part(icon) {
        stroke-width: 2.5;
        stroke: currentColor;
      }
    }
  }
}
