<ion-content [fullscreen]="true">
  <div class="user">
    <div class="user__header">
      
      <div class="user__info">
        <img src="./../../assets/3106921.png" alt="avatar do usuário" />
        <h1>Olá, Paulo!</h1>
      </div>

      <div class="user__buttons">
        <ion-button expand="block" color="secondary"> Revistas </ion-button>

        <ion-button expand="block" color="secondary">
          Editar informações
        </ion-button>
      </div>
    </div>

    <ion-button expand="block" color="primary" class="user__button-leave">
      Sair da conta
    </ion-button>
  </div>
</ion-content>
